## **A) Tratamento de dados**

In [1]:
pip install jupyter-dash

Collecting jupyter-dash
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Collecting retrying
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting flask
  Downloading Flask-2.2.3-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.8/101.8 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from jupyter-dash) (2.28.2)
Requirement already satisfied: ipykernel in /home/codespace/.local/lib/python3.10/site-packages (from jupyter-dash) (6.21.2)
Collecting dash
  Downloading dash-2.8.1-py3-none-any.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 33.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: nest-asyncio in /home/codespace/.local/lib/python3.10/site-packages (from jupyter-dash) (1.5.6)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.10/site-packages (from jupyter-dash) (8.10.0)
Collecting ansi2html
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Requirement already satisfied: plotly>=5.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from dash->jupyter-dash) (5.13.0)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting click>=8.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: Jinja2>=3.0 in /home/codespace/.local/lib/python3.10/site-packages (from flask->jupyter-dash) (3.1.2)
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.3-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.6/233.6 kB 11.9 MB/s eta 0:00:00
Requirement already satisfied: pyzmq>=20 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (25.0.0)
Requirement already satisfied: tornado>=6.1 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (6.2)
Requirement already satisfied: comm>=0.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (0.1.2)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (23.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (0.1.6)
Requirement already satisfied: psutil in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (5.9.4)
Requirement already satisfied: jupyter-client>=6.1.12 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (8.0.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (5.2.0)
Requirement already satisfied: debugpy>=1.6.5 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (1.6.6)
Requirement already satisfied: traitlets>=5.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipykernel->jupyter-dash) (5.9.0)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (3.0.36)
Requirement already satisfied: pickleshare in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (2.14.0)
Requirement already satisfied: stack-data in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: backcall in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->jupyter-dash) (0.18.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->jupyter-dash) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->jupyter-dash) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests->jupyter-dash) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests->jupyter-dash) (1.26.14)
Requirement already satisfied: six>=1.7.0 in /home/codespace/.local/lib/python3.10/site-packages (from retrying->jupyter-dash) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/codespace/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from Jinja2>=3.0->flask->jupyter-dash) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter-dash) (3.0.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.10/site-packages (from pexpect>4.3->ipython->jupyter-dash) (0.7.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.2.1)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.30->ipython->jupyter-dash) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->jupyter-dash) (1.2.0)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->jupyter-dash) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->jupyter-dash) (2.2.1)
Installing collected packages: dash-table, dash-html-components, dash-core-components, Werkzeug, retrying, itsdangerous, click, ansi2html, flask, dash, jupyter-dash
  WARNING: The script ansi2html is installed in '/usr/local/python/3.10.4/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script flask is installed in '/usr/local/python/3.10.4/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts dash-generate-components, dash-update-components and renderer are installed in '/usr/local/python/3.10.4/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed Werkzeug-2.2.3 ansi2html-1.8.0 click-8.1.3 dash-2.8.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-2.2.3 itsdangerous-2.1.2 jupyter-dash-0.4.2 retrying-1.3.4
Note: you may need to restart the kernel to use updated packages.

In [24]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
# eliminando primieras linhas (título do doc)
df = pd.read_csv("dados_paises.csv", delimiter=",")

In [26]:
# transpondo colunas de interesse para ser possível leitura no Tableau
df1 = df.melt(id_vars = ['Country Name', 'Country Code', 'Series Name', 'Series Code'],
             value_vars = ['1960','1961','1962','1963','1964','1965','1966','1967','1968','1969',
                           '1970','1971','1972','1973','1974','1975','1976','1977','1978','1979',
                           '1980','1981','1982','1983','1984','1985','1986','1987','1988','1999',
                           '1990','1991','1992','1993','1994','1995','1996','1997','1998','1999',
                           '2000','2001','2002','2003','2004','2005','2006','2007','2008','2009',
                           '2010','2011','2012','2013','2014','2015','2016','2017','2018','2019',
                           '2020','2021'],
             var_name='year', value_name='value')

In [27]:
df1 = df1[['Country Name', 'Country Code', 'Series Name', 'year', 'value']]

In [35]:
df1 = df1.rename(columns={'Country Name': 'country', 'Country Code': 'country_code', 'Series Name': 'indicator'})

In [36]:
display(df1)

,country,country_code,indicator,year,value
0,Belgium,BEL,life_expectancy,1960,69.701951
1,Albania,ALB,life_expectancy,1960,54.439000
2,Austria,AUT,life_expectancy,1960,68.585610
3,Belarus,BLR,life_expectancy,1960,69.254610
4,Bulgaria,BGR,life_expectancy,1960,69.247561
...,...,...,...,...,...
52943,Virgin Islands (U.S.),VIR,inflation,2021,NaN
52944,West Bank and Gaza,PSE,inflation,2021,1.237481
52945,NaN,NaN,"inflation,FP.CPI.TOTL.ZG,""Yemen, Rep."",YEM,,,,...",2021,NaN
52946,Zambia,ZMB,inflation,2021,22.021234
52947,Zimbabwe,ZWE,inflation,2021,98.546105

In [43]:
busca = ['Albania','Austria','Belarus','Belgium','Bosnia and Herzegovina','Bulgaria','Croatia','Cyprus','Czechia',
         'Denmark','Estonia','Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy','Latvia',
         'Lithuania','Luxembourg','Malta','Moldova','Montenegro','North Macedonia','Norway','Portugal','Romania',
         'Russian Federation','Slovak Republic','Serbia','Slovenia','Spain','Sweden','Switzerland','The Netherlands',
         'Ukraine','United Kingdom']
df2 = df1[df1['country'].isin(busca)]

In [44]:
df2.dtypes

country          object
country_code     object
indicator        object
year             object
value           float64
dtype: object

In [45]:
df2.country = df2.country.astype('string')
df2.country_code = df2.country_code.astype('string')
df2.indicator = df2.indicator.astype('string')
df2.year = pd.to_numeric(df2.year)
df2.value = round(df2.value,2)

In [46]:
df2 = df2.sort_values(by=['indicator','country'])
display(df2)

              country country_code        indicator  year  value
218           Albania          ALB       gdp_growth  1960    NaN
1086          Albania          ALB       gdp_growth  1961    NaN
1954          Albania          ALB       gdp_growth  1962    NaN
2822          Albania          ALB       gdp_growth  1963    NaN
3690          Albania          ALB       gdp_growth  1964    NaN
...               ...          ...              ...   ...    ...
48813  United Kingdom          GBR  life_expectancy  2017  81.26
49681  United Kingdom          GBR  life_expectancy  2018  81.26
50549  United Kingdom          GBR  life_expectancy  2019  81.20
51417  United Kingdom          GBR  life_expectancy  2020  80.90
52285  United Kingdom          GBR  life_expectancy  2021    NaN

[9272 rows x 5 columns]

In [47]:
df2.reset_index(inplace=True, drop=True)
display(df2)

             country country_code        indicator  year  value
0            Albania          ALB       gdp_growth  1960    NaN
1            Albania          ALB       gdp_growth  1961    NaN
2            Albania          ALB       gdp_growth  1962    NaN
3            Albania          ALB       gdp_growth  1963    NaN
4            Albania          ALB       gdp_growth  1964    NaN
...              ...          ...              ...   ...    ...
9267  United Kingdom          GBR  life_expectancy  2017  81.26
9268  United Kingdom          GBR  life_expectancy  2018  81.26
9269  United Kingdom          GBR  life_expectancy  2019  81.20
9270  United Kingdom          GBR  life_expectancy  2020  80.90
9271  United Kingdom          GBR  life_expectancy  2021    NaN

[9272 rows x 5 columns]

In [50]:
df_gdp = df2[df2.indicator=='gdp_growth']

In [51]:
display(df_gdp)

             country country_code   indicator  year  value
0            Albania          ALB  gdp_growth  1960    NaN
1            Albania          ALB  gdp_growth  1961    NaN
2            Albania          ALB  gdp_growth  1962    NaN
3            Albania          ALB  gdp_growth  1963    NaN
4            Albania          ALB  gdp_growth  1964    NaN
...              ...          ...         ...   ...    ...
2313  United Kingdom          GBR  gdp_growth  2017   2.44
2314  United Kingdom          GBR  gdp_growth  2018   1.71
2315  United Kingdom          GBR  gdp_growth  2019   1.60
2316  United Kingdom          GBR  gdp_growth  2020 -11.03
2317  United Kingdom          GBR  gdp_growth  2021   7.52

[2318 rows x 5 columns]

In [22]:
df_gdp.reset_index(inplace=True)
display(df_gdp)

      level_0  index         country country_code   indicator  year  value
0           0    218         Albania          ALB  gdp_growth  1960    NaN
1           1   1086         Albania          ALB  gdp_growth  1961    NaN
2           2   1954         Albania          ALB  gdp_growth  1962    NaN
3           3   2822         Albania          ALB  gdp_growth  1963    NaN
4           4   3690         Albania          ALB  gdp_growth  1964    NaN
...       ...    ...             ...          ...         ...   ...    ...
2313     2313  49030  United Kingdom          GBR  gdp_growth  2017   2.44
2314     2314  49898  United Kingdom          GBR  gdp_growth  2018   1.71
2315     2315  50766  United Kingdom          GBR  gdp_growth  2019   1.60
2316     2316  51634  United Kingdom          GBR  gdp_growth  2020 -11.03
2317     2317  52502  United Kingdom          GBR  gdp_growth  2021   7.52

[2318 rows x 7 columns]

In [52]:
x = 60 - df_gdp.groupby(['country']).count().value

In [53]:
x.sort_values(ascending=False)

country
Montenegro                36
Latvia                    34
Slovenia                  34
Serbia                    34
Estonia                   34
Lithuania                 34
Moldova                   34
Croatia                   34
Bosnia and Herzegovina    33
Slovak Republic           31
Hungary                   30
Czechia                   29
Romania                   29
North Macedonia           29
Belarus                   29
Russian Federation        28
Ukraine                   27
Iceland                   25
Switzerland               20
Albania                   20
Bulgaria                  20
Cyprus                    15
Malta                     10
Ireland                   10
Germany                   10
Austria                    0
Denmark                    0
Belgium                    0
Sweden                     0
Spain                      0
France                     0
Finland                    0
Luxembourg                 0
Portugal                   0
Norway                     0
Greece                     0
Italy                      0
United Kingdom             0
Name: value, dtype: int64

In [54]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Albania']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

    country country_code   indicator  year  value
0   Albania          ALB  gdp_growth  1960    NaN
1   Albania          ALB  gdp_growth  1961    NaN
2   Albania          ALB  gdp_growth  1962    NaN
3   Albania          ALB  gdp_growth  1963    NaN
4   Albania          ALB  gdp_growth  1964    NaN
5   Albania          ALB  gdp_growth  1965    NaN
6   Albania          ALB  gdp_growth  1966    NaN
7   Albania          ALB  gdp_growth  1967    NaN
8   Albania          ALB  gdp_growth  1968    NaN
9   Albania          ALB  gdp_growth  1969    NaN
10  Albania          ALB  gdp_growth  1970    NaN
11  Albania          ALB  gdp_growth  1971    NaN
12  Albania          ALB  gdp_growth  1972    NaN
13  Albania          ALB  gdp_growth  1973    NaN
14  Albania          ALB  gdp_growth  1974    NaN
15  Albania          ALB  gdp_growth  1975    NaN
16  Albania          ALB  gdp_growth  1976    NaN
17  Albania          ALB  gdp_growth  1977    NaN
18  Albania          ALB  gdp_growth  1978    NaN
19  Albania          ALB  gdp_growth  1979    NaN
20  Albania          ALB  gdp_growth  1980    NaN
21  Albania          ALB  gdp_growth  1981   5.75
22  Albania          ALB  gdp_growth  1982   2.95
23  Albania          ALB  gdp_growth  1983   1.10
24  Albania          ALB  gdp_growth  1984  -1.25
25  Albania          ALB  gdp_growth  1985   1.78
26  Albania          ALB  gdp_growth  1986   5.64
27  Albania          ALB  gdp_growth  1987  -0.79
28  Albania          ALB  gdp_growth  1988  -1.42
29  Albania          ALB  gdp_growth  1999  12.89
30  Albania          ALB  gdp_growth  1990  -9.58
31  Albania          ALB  gdp_growth  1991 -28.00
32  Albania          ALB  gdp_growth  1992  -7.19
33  Albania          ALB  gdp_growth  1993   9.56
34  Albania          ALB  gdp_growth  1994   8.30
35  Albania          ALB  gdp_growth  1995  13.32
36  Albania          ALB  gdp_growth  1996   9.10
37  Albania          ALB  gdp_growth  1997 -10.92
38  Albania          ALB  gdp_growth  1998   8.83
39  Albania          ALB  gdp_growth  2000   6.95
40  Albania          ALB  gdp_growth  2001   8.29
41  Albania          ALB  gdp_growth  2002   4.54
42  Albania          ALB  gdp_growth  2003   5.53
43  Albania          ALB  gdp_growth  2004   5.51
44  Albania          ALB  gdp_growth  2005   5.53
45  Albania          ALB  gdp_growth  2006   5.90
46  Albania          ALB  gdp_growth  2007   5.98
47  Albania          ALB  gdp_growth  2008   7.50
48  Albania          ALB  gdp_growth  2009   3.35
49  Albania          ALB  gdp_growth  2010   3.71
50  Albania          ALB  gdp_growth  2011   2.55
51  Albania          ALB  gdp_growth  2012   1.42
52  Albania          ALB  gdp_growth  2013   1.00
53  Albania          ALB  gdp_growth  2014   1.77
54  Albania          ALB  gdp_growth  2015   2.22
55  Albania          ALB  gdp_growth  2016   3.31
56  Albania          ALB  gdp_growth  2017   3.80
57  Albania          ALB  gdp_growth  2018   4.02
58  Albania          ALB  gdp_growth  2019   2.09
59  Albania          ALB  gdp_growth  2020  -3.48
60  Albania          ALB  gdp_growth  2021   8.52

In [55]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='North Macedonia']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

              country country_code   indicator  year  value
1525  North Macedonia          MKD  gdp_growth  1960    NaN
1526  North Macedonia          MKD  gdp_growth  1961    NaN
1527  North Macedonia          MKD  gdp_growth  1962    NaN
1528  North Macedonia          MKD  gdp_growth  1963    NaN
1529  North Macedonia          MKD  gdp_growth  1964    NaN
1530  North Macedonia          MKD  gdp_growth  1965    NaN
1531  North Macedonia          MKD  gdp_growth  1966    NaN
1532  North Macedonia          MKD  gdp_growth  1967    NaN
1533  North Macedonia          MKD  gdp_growth  1968    NaN
1534  North Macedonia          MKD  gdp_growth  1969    NaN
1535  North Macedonia          MKD  gdp_growth  1970    NaN
1536  North Macedonia          MKD  gdp_growth  1971    NaN
1537  North Macedonia          MKD  gdp_growth  1972    NaN
1538  North Macedonia          MKD  gdp_growth  1973    NaN
1539  North Macedonia          MKD  gdp_growth  1974    NaN
1540  North Macedonia          MKD  gdp_growth  1975    NaN
1541  North Macedonia          MKD  gdp_growth  1976    NaN
1542  North Macedonia          MKD  gdp_growth  1977    NaN
1543  North Macedonia          MKD  gdp_growth  1978    NaN
1544  North Macedonia          MKD  gdp_growth  1979    NaN
1545  North Macedonia          MKD  gdp_growth  1980    NaN
1546  North Macedonia          MKD  gdp_growth  1981    NaN
1547  North Macedonia          MKD  gdp_growth  1982    NaN
1548  North Macedonia          MKD  gdp_growth  1983    NaN
1549  North Macedonia          MKD  gdp_growth  1984    NaN
1550  North Macedonia          MKD  gdp_growth  1985    NaN
1551  North Macedonia          MKD  gdp_growth  1986    NaN
1552  North Macedonia          MKD  gdp_growth  1987    NaN
1553  North Macedonia          MKD  gdp_growth  1988    NaN
1554  North Macedonia          MKD  gdp_growth  1999   4.34
1555  North Macedonia          MKD  gdp_growth  1990    NaN
1556  North Macedonia          MKD  gdp_growth  1991  -6.17
1557  North Macedonia          MKD  gdp_growth  1992  -6.57
1558  North Macedonia          MKD  gdp_growth  1993  -7.47
1559  North Macedonia          MKD  gdp_growth  1994  -1.76
1560  North Macedonia          MKD  gdp_growth  1995  -1.11
1561  North Macedonia          MKD  gdp_growth  1996   1.19
1562  North Macedonia          MKD  gdp_growth  1997   1.44
1563  North Macedonia          MKD  gdp_growth  1998   3.38
1564  North Macedonia          MKD  gdp_growth  2000   4.55
1565  North Macedonia          MKD  gdp_growth  2001  -3.07
1566  North Macedonia          MKD  gdp_growth  2002   1.49
1567  North Macedonia          MKD  gdp_growth  2003   2.22
1568  North Macedonia          MKD  gdp_growth  2004   4.67
1569  North Macedonia          MKD  gdp_growth  2005   4.72
1570  North Macedonia          MKD  gdp_growth  2006   5.14
1571  North Macedonia          MKD  gdp_growth  2007   6.47
1572  North Macedonia          MKD  gdp_growth  2008   5.47
1573  North Macedonia          MKD  gdp_growth  2009  -0.36
1574  North Macedonia          MKD  gdp_growth  2010   3.36
1575  North Macedonia          MKD  gdp_growth  2011   2.34
1576  North Macedonia          MKD  gdp_growth  2012  -0.46
1577  North Macedonia          MKD  gdp_growth  2013   2.93
1578  North Macedonia          MKD  gdp_growth  2014   3.63
1579  North Macedonia          MKD  gdp_growth  2015   3.86
1580  North Macedonia          MKD  gdp_growth  2016   2.85
1581  North Macedonia          MKD  gdp_growth  2017   1.08
1582  North Macedonia          MKD  gdp_growth  2018   2.88
1583  North Macedonia          MKD  gdp_growth  2019   3.91
1584  North Macedonia          MKD  gdp_growth  2020  -6.11
1585  North Macedonia          MKD  gdp_growth  2021   3.96

In [56]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Slovak Republic']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

              country country_code   indicator  year  value
1891  Slovak Republic          SVK  gdp_growth  1960    NaN
1892  Slovak Republic          SVK  gdp_growth  1961    NaN
1893  Slovak Republic          SVK  gdp_growth  1962    NaN
1894  Slovak Republic          SVK  gdp_growth  1963    NaN
1895  Slovak Republic          SVK  gdp_growth  1964    NaN
1896  Slovak Republic          SVK  gdp_growth  1965    NaN
1897  Slovak Republic          SVK  gdp_growth  1966    NaN
1898  Slovak Republic          SVK  gdp_growth  1967    NaN
1899  Slovak Republic          SVK  gdp_growth  1968    NaN
1900  Slovak Republic          SVK  gdp_growth  1969    NaN
1901  Slovak Republic          SVK  gdp_growth  1970    NaN
1902  Slovak Republic          SVK  gdp_growth  1971    NaN
1903  Slovak Republic          SVK  gdp_growth  1972    NaN
1904  Slovak Republic          SVK  gdp_growth  1973    NaN
1905  Slovak Republic          SVK  gdp_growth  1974    NaN
1906  Slovak Republic          SVK  gdp_growth  1975    NaN
1907  Slovak Republic          SVK  gdp_growth  1976    NaN
1908  Slovak Republic          SVK  gdp_growth  1977    NaN
1909  Slovak Republic          SVK  gdp_growth  1978    NaN
1910  Slovak Republic          SVK  gdp_growth  1979    NaN
1911  Slovak Republic          SVK  gdp_growth  1980    NaN
1912  Slovak Republic          SVK  gdp_growth  1981    NaN
1913  Slovak Republic          SVK  gdp_growth  1982    NaN
1914  Slovak Republic          SVK  gdp_growth  1983    NaN
1915  Slovak Republic          SVK  gdp_growth  1984    NaN
1916  Slovak Republic          SVK  gdp_growth  1985    NaN
1917  Slovak Republic          SVK  gdp_growth  1986    NaN
1918  Slovak Republic          SVK  gdp_growth  1987    NaN
1919  Slovak Republic          SVK  gdp_growth  1988    NaN
1920  Slovak Republic          SVK  gdp_growth  1999  -0.11
1921  Slovak Republic          SVK  gdp_growth  1990    NaN
1922  Slovak Republic          SVK  gdp_growth  1991    NaN
1923  Slovak Republic          SVK  gdp_growth  1992    NaN
1924  Slovak Republic          SVK  gdp_growth  1993   1.90
1925  Slovak Republic          SVK  gdp_growth  1994   6.21
1926  Slovak Republic          SVK  gdp_growth  1995   5.84
1927  Slovak Republic          SVK  gdp_growth  1996   6.62
1928  Slovak Republic          SVK  gdp_growth  1997   5.93
1929  Slovak Republic          SVK  gdp_growth  1998   4.08
1930  Slovak Republic          SVK  gdp_growth  2000   1.17
1931  Slovak Republic          SVK  gdp_growth  2001   3.25
1932  Slovak Republic          SVK  gdp_growth  2002   4.51
1933  Slovak Republic          SVK  gdp_growth  2003   5.50
1934  Slovak Republic          SVK  gdp_growth  2004   5.28
1935  Slovak Republic          SVK  gdp_growth  2005   6.62
1936  Slovak Republic          SVK  gdp_growth  2006   8.49
1937  Slovak Republic          SVK  gdp_growth  2007  10.83
1938  Slovak Republic          SVK  gdp_growth  2008   5.57
1939  Slovak Republic          SVK  gdp_growth  2009  -5.46
1940  Slovak Republic          SVK  gdp_growth  2010   6.72
1941  Slovak Republic          SVK  gdp_growth  2011   2.67
1942  Slovak Republic          SVK  gdp_growth  2012   1.32
1943  Slovak Republic          SVK  gdp_growth  2013   0.63
1944  Slovak Republic          SVK  gdp_growth  2014   2.70
1945  Slovak Republic          SVK  gdp_growth  2015   5.17
1946  Slovak Republic          SVK  gdp_growth  2016   1.94
1947  Slovak Republic          SVK  gdp_growth  2017   2.94
1948  Slovak Republic          SVK  gdp_growth  2018   4.03
1949  Slovak Republic          SVK  gdp_growth  2019   2.52
1950  Slovak Republic          SVK  gdp_growth  2020  -3.37
1951  Slovak Republic          SVK  gdp_growth  2021   3.01

In [57]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Bosnia and Herzegovina']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

                    country country_code   indicator  year  value
244  Bosnia and Herzegovina          BIH  gdp_growth  1960    NaN
245  Bosnia and Herzegovina          BIH  gdp_growth  1961    NaN
246  Bosnia and Herzegovina          BIH  gdp_growth  1962    NaN
247  Bosnia and Herzegovina          BIH  gdp_growth  1963    NaN
248  Bosnia and Herzegovina          BIH  gdp_growth  1964    NaN
249  Bosnia and Herzegovina          BIH  gdp_growth  1965    NaN
250  Bosnia and Herzegovina          BIH  gdp_growth  1966    NaN
251  Bosnia and Herzegovina          BIH  gdp_growth  1967    NaN
252  Bosnia and Herzegovina          BIH  gdp_growth  1968    NaN
253  Bosnia and Herzegovina          BIH  gdp_growth  1969    NaN
254  Bosnia and Herzegovina          BIH  gdp_growth  1970    NaN
255  Bosnia and Herzegovina          BIH  gdp_growth  1971    NaN
256  Bosnia and Herzegovina          BIH  gdp_growth  1972    NaN
257  Bosnia and Herzegovina          BIH  gdp_growth  1973    NaN
258  Bosnia and Herzegovina          BIH  gdp_growth  1974    NaN
259  Bosnia and Herzegovina          BIH  gdp_growth  1975    NaN
260  Bosnia and Herzegovina          BIH  gdp_growth  1976    NaN
261  Bosnia and Herzegovina          BIH  gdp_growth  1977    NaN
262  Bosnia and Herzegovina          BIH  gdp_growth  1978    NaN
263  Bosnia and Herzegovina          BIH  gdp_growth  1979    NaN
264  Bosnia and Herzegovina          BIH  gdp_growth  1980    NaN
265  Bosnia and Herzegovina          BIH  gdp_growth  1981    NaN
266  Bosnia and Herzegovina          BIH  gdp_growth  1982    NaN
267  Bosnia and Herzegovina          BIH  gdp_growth  1983    NaN
268  Bosnia and Herzegovina          BIH  gdp_growth  1984    NaN
269  Bosnia and Herzegovina          BIH  gdp_growth  1985    NaN
270  Bosnia and Herzegovina          BIH  gdp_growth  1986    NaN
271  Bosnia and Herzegovina          BIH  gdp_growth  1987    NaN
272  Bosnia and Herzegovina          BIH  gdp_growth  1988    NaN
273  Bosnia and Herzegovina          BIH  gdp_growth  1999   9.60
274  Bosnia and Herzegovina          BIH  gdp_growth  1990    NaN
275  Bosnia and Herzegovina          BIH  gdp_growth  1991    NaN
276  Bosnia and Herzegovina          BIH  gdp_growth  1992    NaN
277  Bosnia and Herzegovina          BIH  gdp_growth  1993    NaN
278  Bosnia and Herzegovina          BIH  gdp_growth  1994    NaN
279  Bosnia and Herzegovina          BIH  gdp_growth  1995  20.80
280  Bosnia and Herzegovina          BIH  gdp_growth  1996  88.96
281  Bosnia and Herzegovina          BIH  gdp_growth  1997  34.39
282  Bosnia and Herzegovina          BIH  gdp_growth  1998  15.60
283  Bosnia and Herzegovina          BIH  gdp_growth  2000  12.77
284  Bosnia and Herzegovina          BIH  gdp_growth  2001   2.42
285  Bosnia and Herzegovina          BIH  gdp_growth  2002   5.03
286  Bosnia and Herzegovina          BIH  gdp_growth  2003   3.87
287  Bosnia and Herzegovina          BIH  gdp_growth  2004   6.33
288  Bosnia and Herzegovina          BIH  gdp_growth  2005   3.90
289  Bosnia and Herzegovina          BIH  gdp_growth  2006   5.41
290  Bosnia and Herzegovina          BIH  gdp_growth  2007   5.86
291  Bosnia and Herzegovina          BIH  gdp_growth  2008   5.44
292  Bosnia and Herzegovina          BIH  gdp_growth  2009  -3.00
293  Bosnia and Herzegovina          BIH  gdp_growth  2010   0.87
294  Bosnia and Herzegovina          BIH  gdp_growth  2011   0.96
295  Bosnia and Herzegovina          BIH  gdp_growth  2012  -0.82
296  Bosnia and Herzegovina          BIH  gdp_growth  2013   2.35
297  Bosnia and Herzegovina          BIH  gdp_growth  2014   1.15
298  Bosnia and Herzegovina          BIH  gdp_growth  2015   3.09
299  Bosnia and Herzegovina          BIH  gdp_growth  2016   3.15
300  Bosnia and Herzegovina          BIH  gdp_growth  2017   3.17
301  Bosnia and Herzegovina          BIH  gdp_growth  2018   3.74
302  Bosnia and Herzegovina          BIH  gdp_growth  2019   2.83
303  Bosnia and Herzegovina          BIH  gdp_growth  2020  -3.12
304  Bosnia and Herzegovina          BIH  gdp_growth  2021   7.55

In [58]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Croatia']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

     country country_code   indicator  year  value
366  Croatia          HRV  gdp_growth  1960    NaN
367  Croatia          HRV  gdp_growth  1961    NaN
368  Croatia          HRV  gdp_growth  1962    NaN
369  Croatia          HRV  gdp_growth  1963    NaN
370  Croatia          HRV  gdp_growth  1964    NaN
371  Croatia          HRV  gdp_growth  1965    NaN
372  Croatia          HRV  gdp_growth  1966    NaN
373  Croatia          HRV  gdp_growth  1967    NaN
374  Croatia          HRV  gdp_growth  1968    NaN
375  Croatia          HRV  gdp_growth  1969    NaN
376  Croatia          HRV  gdp_growth  1970    NaN
377  Croatia          HRV  gdp_growth  1971    NaN
378  Croatia          HRV  gdp_growth  1972    NaN
379  Croatia          HRV  gdp_growth  1973    NaN
380  Croatia          HRV  gdp_growth  1974    NaN
381  Croatia          HRV  gdp_growth  1975    NaN
382  Croatia          HRV  gdp_growth  1976    NaN
383  Croatia          HRV  gdp_growth  1977    NaN
384  Croatia          HRV  gdp_growth  1978    NaN
385  Croatia          HRV  gdp_growth  1979    NaN
386  Croatia          HRV  gdp_growth  1980    NaN
387  Croatia          HRV  gdp_growth  1981    NaN
388  Croatia          HRV  gdp_growth  1982    NaN
389  Croatia          HRV  gdp_growth  1983    NaN
390  Croatia          HRV  gdp_growth  1984    NaN
391  Croatia          HRV  gdp_growth  1985    NaN
392  Croatia          HRV  gdp_growth  1986    NaN
393  Croatia          HRV  gdp_growth  1987    NaN
394  Croatia          HRV  gdp_growth  1988    NaN
395  Croatia          HRV  gdp_growth  1999  -0.75
396  Croatia          HRV  gdp_growth  1990    NaN
397  Croatia          HRV  gdp_growth  1991    NaN
398  Croatia          HRV  gdp_growth  1992    NaN
399  Croatia          HRV  gdp_growth  1993    NaN
400  Croatia          HRV  gdp_growth  1994    NaN
401  Croatia          HRV  gdp_growth  1995    NaN
402  Croatia          HRV  gdp_growth  1996   6.25
403  Croatia          HRV  gdp_growth  1997   6.17
404  Croatia          HRV  gdp_growth  1998   2.33
405  Croatia          HRV  gdp_growth  2000   2.86
406  Croatia          HRV  gdp_growth  2001   3.07
407  Croatia          HRV  gdp_growth  2002   5.76
408  Croatia          HRV  gdp_growth  2003   5.56
409  Croatia          HRV  gdp_growth  2004   4.15
410  Croatia          HRV  gdp_growth  2005   4.26
411  Croatia          HRV  gdp_growth  2006   4.89
412  Croatia          HRV  gdp_growth  2007   5.00
413  Croatia          HRV  gdp_growth  2008   2.00
414  Croatia          HRV  gdp_growth  2009  -7.19
415  Croatia          HRV  gdp_growth  2010  -1.22
416  Croatia          HRV  gdp_growth  2011  -0.09
417  Croatia          HRV  gdp_growth  2012  -2.33
418  Croatia          HRV  gdp_growth  2013  -0.40
419  Croatia          HRV  gdp_growth  2014  -0.43
420  Croatia          HRV  gdp_growth  2015   2.52
421  Croatia          HRV  gdp_growth  2016   3.56
422  Croatia          HRV  gdp_growth  2017   3.41
423  Croatia          HRV  gdp_growth  2018   2.80
424  Croatia          HRV  gdp_growth  2019   3.42
425  Croatia          HRV  gdp_growth  2020  -8.58
426  Croatia          HRV  gdp_growth  2021  13.07

In [59]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Serbia']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

     country country_code   indicator  year  value
1830  Serbia          SRB  gdp_growth  1960    NaN
1831  Serbia          SRB  gdp_growth  1961    NaN
1832  Serbia          SRB  gdp_growth  1962    NaN
1833  Serbia          SRB  gdp_growth  1963    NaN
1834  Serbia          SRB  gdp_growth  1964    NaN
1835  Serbia          SRB  gdp_growth  1965    NaN
1836  Serbia          SRB  gdp_growth  1966    NaN
1837  Serbia          SRB  gdp_growth  1967    NaN
1838  Serbia          SRB  gdp_growth  1968    NaN
1839  Serbia          SRB  gdp_growth  1969    NaN
1840  Serbia          SRB  gdp_growth  1970    NaN
1841  Serbia          SRB  gdp_growth  1971    NaN
1842  Serbia          SRB  gdp_growth  1972    NaN
1843  Serbia          SRB  gdp_growth  1973    NaN
1844  Serbia          SRB  gdp_growth  1974    NaN
1845  Serbia          SRB  gdp_growth  1975    NaN
1846  Serbia          SRB  gdp_growth  1976    NaN
1847  Serbia          SRB  gdp_growth  1977    NaN
1848  Serbia          SRB  gdp_growth  1978    NaN
1849  Serbia          SRB  gdp_growth  1979    NaN
1850  Serbia          SRB  gdp_growth  1980    NaN
1851  Serbia          SRB  gdp_growth  1981    NaN
1852  Serbia          SRB  gdp_growth  1982    NaN
1853  Serbia          SRB  gdp_growth  1983    NaN
1854  Serbia          SRB  gdp_growth  1984    NaN
1855  Serbia          SRB  gdp_growth  1985    NaN
1856  Serbia          SRB  gdp_growth  1986    NaN
1857  Serbia          SRB  gdp_growth  1987    NaN
1858  Serbia          SRB  gdp_growth  1988    NaN
1859  Serbia          SRB  gdp_growth  1999  -9.42
1860  Serbia          SRB  gdp_growth  1990    NaN
1861  Serbia          SRB  gdp_growth  1991    NaN
1862  Serbia          SRB  gdp_growth  1992    NaN
1863  Serbia          SRB  gdp_growth  1993    NaN
1864  Serbia          SRB  gdp_growth  1994    NaN
1865  Serbia          SRB  gdp_growth  1995    NaN
1866  Serbia          SRB  gdp_growth  1996   6.26
1867  Serbia          SRB  gdp_growth  1997   7.21
1868  Serbia          SRB  gdp_growth  1998   3.34
1869  Serbia          SRB  gdp_growth  2000   6.13
1870  Serbia          SRB  gdp_growth  2001   6.88
1871  Serbia          SRB  gdp_growth  2002   6.38
1872  Serbia          SRB  gdp_growth  2003   4.39
1873  Serbia          SRB  gdp_growth  2004   9.03
1874  Serbia          SRB  gdp_growth  2005   5.53
1875  Serbia          SRB  gdp_growth  2006   5.11
1876  Serbia          SRB  gdp_growth  2007   6.44
1877  Serbia          SRB  gdp_growth  2008   5.66
1878  Serbia          SRB  gdp_growth  2009  -2.73
1879  Serbia          SRB  gdp_growth  2010   0.73
1880  Serbia          SRB  gdp_growth  2011   2.04
1881  Serbia          SRB  gdp_growth  2012  -0.68
1882  Serbia          SRB  gdp_growth  2013   2.89
1883  Serbia          SRB  gdp_growth  2014  -1.59
1884  Serbia          SRB  gdp_growth  2015   1.81
1885  Serbia          SRB  gdp_growth  2016   3.34
1886  Serbia          SRB  gdp_growth  2017   2.10
1887  Serbia          SRB  gdp_growth  2018   4.50
1888  Serbia          SRB  gdp_growth  2019   4.33
1889  Serbia          SRB  gdp_growth  2020  -0.90
1890  Serbia          SRB  gdp_growth  2021   7.55

In [60]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Slovenia']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

       country country_code   indicator  year  value
1952  Slovenia          SVN  gdp_growth  1960    NaN
1953  Slovenia          SVN  gdp_growth  1961    NaN
1954  Slovenia          SVN  gdp_growth  1962    NaN
1955  Slovenia          SVN  gdp_growth  1963    NaN
1956  Slovenia          SVN  gdp_growth  1964    NaN
1957  Slovenia          SVN  gdp_growth  1965    NaN
1958  Slovenia          SVN  gdp_growth  1966    NaN
1959  Slovenia          SVN  gdp_growth  1967    NaN
1960  Slovenia          SVN  gdp_growth  1968    NaN
1961  Slovenia          SVN  gdp_growth  1969    NaN
1962  Slovenia          SVN  gdp_growth  1970    NaN
1963  Slovenia          SVN  gdp_growth  1971    NaN
1964  Slovenia          SVN  gdp_growth  1972    NaN
1965  Slovenia          SVN  gdp_growth  1973    NaN
1966  Slovenia          SVN  gdp_growth  1974    NaN
1967  Slovenia          SVN  gdp_growth  1975    NaN
1968  Slovenia          SVN  gdp_growth  1976    NaN
1969  Slovenia          SVN  gdp_growth  1977    NaN
1970  Slovenia          SVN  gdp_growth  1978    NaN
1971  Slovenia          SVN  gdp_growth  1979    NaN
1972  Slovenia          SVN  gdp_growth  1980    NaN
1973  Slovenia          SVN  gdp_growth  1981    NaN
1974  Slovenia          SVN  gdp_growth  1982    NaN
1975  Slovenia          SVN  gdp_growth  1983    NaN
1976  Slovenia          SVN  gdp_growth  1984    NaN
1977  Slovenia          SVN  gdp_growth  1985    NaN
1978  Slovenia          SVN  gdp_growth  1986    NaN
1979  Slovenia          SVN  gdp_growth  1987    NaN
1980  Slovenia          SVN  gdp_growth  1988    NaN
1981  Slovenia          SVN  gdp_growth  1999   5.33
1982  Slovenia          SVN  gdp_growth  1990    NaN
1983  Slovenia          SVN  gdp_growth  1991    NaN
1984  Slovenia          SVN  gdp_growth  1992    NaN
1985  Slovenia          SVN  gdp_growth  1993    NaN
1986  Slovenia          SVN  gdp_growth  1994    NaN
1987  Slovenia          SVN  gdp_growth  1995    NaN
1988  Slovenia          SVN  gdp_growth  1996   3.20
1989  Slovenia          SVN  gdp_growth  1997   5.05
1990  Slovenia          SVN  gdp_growth  1998   3.28
1991  Slovenia          SVN  gdp_growth  2000   3.67
1992  Slovenia          SVN  gdp_growth  2001   3.22
1993  Slovenia          SVN  gdp_growth  2002   3.51
1994  Slovenia          SVN  gdp_growth  2003   2.96
1995  Slovenia          SVN  gdp_growth  2004   4.36
1996  Slovenia          SVN  gdp_growth  2005   3.80
1997  Slovenia          SVN  gdp_growth  2006   5.75
1998  Slovenia          SVN  gdp_growth  2007   6.98
1999  Slovenia          SVN  gdp_growth  2008   3.51
2000  Slovenia          SVN  gdp_growth  2009  -7.55
2001  Slovenia          SVN  gdp_growth  2010   1.34
2002  Slovenia          SVN  gdp_growth  2011   0.86
2003  Slovenia          SVN  gdp_growth  2012  -2.64
2004  Slovenia          SVN  gdp_growth  2013  -1.03
2005  Slovenia          SVN  gdp_growth  2014   2.77
2006  Slovenia          SVN  gdp_growth  2015   2.21
2007  Slovenia          SVN  gdp_growth  2016   3.19
2008  Slovenia          SVN  gdp_growth  2017   4.82
2009  Slovenia          SVN  gdp_growth  2018   4.45
2010  Slovenia          SVN  gdp_growth  2019   3.45
2011  Slovenia          SVN  gdp_growth  2020  -4.32
2012  Slovenia          SVN  gdp_growth  2021   8.21

In [61]:
df_alb1 = df2[df2.indicator=='gdp_growth']
df_alb2 = df_alb1[df_alb1.country=='Montenegro']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_alb2)

         country country_code   indicator  year  value
1464  Montenegro          MNE  gdp_growth  1960    NaN
1465  Montenegro          MNE  gdp_growth  1961    NaN
1466  Montenegro          MNE  gdp_growth  1962    NaN
1467  Montenegro          MNE  gdp_growth  1963    NaN
1468  Montenegro          MNE  gdp_growth  1964    NaN
1469  Montenegro          MNE  gdp_growth  1965    NaN
1470  Montenegro          MNE  gdp_growth  1966    NaN
1471  Montenegro          MNE  gdp_growth  1967    NaN
1472  Montenegro          MNE  gdp_growth  1968    NaN
1473  Montenegro          MNE  gdp_growth  1969    NaN
1474  Montenegro          MNE  gdp_growth  1970    NaN
1475  Montenegro          MNE  gdp_growth  1971    NaN
1476  Montenegro          MNE  gdp_growth  1972    NaN
1477  Montenegro          MNE  gdp_growth  1973    NaN
1478  Montenegro          MNE  gdp_growth  1974    NaN
1479  Montenegro          MNE  gdp_growth  1975    NaN
1480  Montenegro          MNE  gdp_growth  1976    NaN
1481  Montenegro          MNE  gdp_growth  1977    NaN
1482  Montenegro          MNE  gdp_growth  1978    NaN
1483  Montenegro          MNE  gdp_growth  1979    NaN
1484  Montenegro          MNE  gdp_growth  1980    NaN
1485  Montenegro          MNE  gdp_growth  1981    NaN
1486  Montenegro          MNE  gdp_growth  1982    NaN
1487  Montenegro          MNE  gdp_growth  1983    NaN
1488  Montenegro          MNE  gdp_growth  1984    NaN
1489  Montenegro          MNE  gdp_growth  1985    NaN
1490  Montenegro          MNE  gdp_growth  1986    NaN
1491  Montenegro          MNE  gdp_growth  1987    NaN
1492  Montenegro          MNE  gdp_growth  1988    NaN
1493  Montenegro          MNE  gdp_growth  1999  -9.40
1494  Montenegro          MNE  gdp_growth  1990    NaN
1495  Montenegro          MNE  gdp_growth  1991    NaN
1496  Montenegro          MNE  gdp_growth  1992    NaN
1497  Montenegro          MNE  gdp_growth  1993    NaN
1498  Montenegro          MNE  gdp_growth  1994    NaN
1499  Montenegro          MNE  gdp_growth  1995    NaN
1500  Montenegro          MNE  gdp_growth  1996    NaN
1501  Montenegro          MNE  gdp_growth  1997    NaN
1502  Montenegro          MNE  gdp_growth  1998   4.90
1503  Montenegro          MNE  gdp_growth  2000   3.10
1504  Montenegro          MNE  gdp_growth  2001   1.10
1505  Montenegro          MNE  gdp_growth  2002   1.90
1506  Montenegro          MNE  gdp_growth  2003   2.48
1507  Montenegro          MNE  gdp_growth  2004   4.43
1508  Montenegro          MNE  gdp_growth  2005   4.18
1509  Montenegro          MNE  gdp_growth  2006   8.57
1510  Montenegro          MNE  gdp_growth  2007   6.81
1511  Montenegro          MNE  gdp_growth  2008   7.22
1512  Montenegro          MNE  gdp_growth  2009  -5.80
1513  Montenegro          MNE  gdp_growth  2010   2.73
1514  Montenegro          MNE  gdp_growth  2011   3.23
1515  Montenegro          MNE  gdp_growth  2012  -2.72
1516  Montenegro          MNE  gdp_growth  2013   3.55
1517  Montenegro          MNE  gdp_growth  2014   1.78
1518  Montenegro          MNE  gdp_growth  2015   3.39
1519  Montenegro          MNE  gdp_growth  2016   2.95
1520  Montenegro          MNE  gdp_growth  2017   4.72
1521  Montenegro          MNE  gdp_growth  2018   5.08
1522  Montenegro          MNE  gdp_growth  2019   4.06
1523  Montenegro          MNE  gdp_growth  2020 -15.31
1524  Montenegro          MNE  gdp_growth  2021  12.43

In [62]:
# eliminando primieras linhas (título do doc)
df_i = pd.read_csv("gdp_iugoslavia.csv", delimiter=';')

In [63]:
df_i = df_i[['year','gdp_growth']]

In [64]:
display(df_i)

    year  gdp_growth
0   1970         5.6
1   1971         8.1
2   1972         4.2
3   1973         5.0
4   1974         8.5
5   1975         3.6
6   1976         3.9
7   1977         8.0
8   1978         6.9
9   1979         7.0
10  1980         2.2
11  1981         1.5
12  1982         0.7
13  1983        -1.2
14  1984         2.0
15  1985         0.5
16  1986         3.6
17  1987        -1.1
18  1988        -1.7
19  1989         0.6
20  1990        -7.6

In [66]:
for i in range(len(df2)):
    if df2['country'][i] == 'Albania':
        if df2['indicator'] == 'gdp_growth':
            if df2['year'][i] == 1970:
                df2['value'] == df_i[0]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [112]:
plt.figure(figsize=(10,5))
plot(df2[df2['indicator']=='life_expectancy'])
plt.show()

NameError: name 'plot' is not defined